/* users_info_table */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* users_info_btn */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* users_attendance_table */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* input_form */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* users_index */

#table-users {
  td {
    vertical-align: middle;
  }
}

/* editing_modal */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}